*{
    color: #1d2022;
    margin: 0;
    padding: 0;
}

.navbar{
    width: 60vw;
    height: auto;
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.nav{
    width: 50vw;
}

.navBtns{
    display: flex;
    flex-direction: row;
}

.navBtnsList{
    width: 100%;
    display: flex;
    justify-content: right;
}

.navLink{
    width: 10vw;
    height: 5vh;
    border-radius: 50px;
    text-align: center;
    color: #1d2022;
}

.loginLink, .registerLink{
    text-decoration: none;
    color: #1d2022;
    background-color: #fff;
}

.loginBtn{
    background-color: #bbb;
}

.registerBtn{
    background-color: #1d2022;
    border: none;
}

.registerBtn:hover{
    background-color: #000;
    color: #fff;
    border: none;

}

.git:hover{
    background-color: #bbb;
}

.mainLink{
    text-decoration: none;
}