*{
    color: #1d2022;
    margin: 0;
    padding: 0;
}

.navbar{
    width: 60vw;
    height: auto;
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.nav{
    width: 50vw;
}

.navBtns{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.navBtnsList{
    width: 56%;
    display: flex;
    justify-content: space-between;
}

.navLink{
    width: 10vw;
    height: 5vh;
    border-radius: 50px;
    text-align: center;
    color: #1d2022;
}

.git:hover, .signin:hover{
    background-color: #ccc;
}

.register{
    background-color: #1d2022;
    color: #dfe1e2;
}

.register:hover{
    background-color: #000;
    color: #fff;
}

.mainLink{
    text-decoration: none;
}