body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*{
    color: #1d2022;
    margin: 0;
    padding: 0;
}

.pageContent{
    width: 70vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eee;
    border-radius: 20px;
    padding: 0;
}

.rightArea{
    background-image: radial-gradient(circle, #949494, #828282, #717171, #606060, #4f4f4f);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
