.navbar{
    width: 100vw;
    height: auto;
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 20px;
}

.nav{
    width: 50vw;
}

.mainNavBtns{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mainNavBtnsList{
    width: 56%;
    display: flex;
    justify-content: space-between;
}

.mainNavLink{
    width: 10vw;
    height: 5vh;
    border-radius: 50px;
    text-align: center;
    color: #1d2022;
    font-weight: bold;
}

.op1:hover, .op2:hover{
    background-color: #ccc;
}

.op3{
    background-color: #1d2022;
    color: #dfe1e2;
}

.op3:hover{
    background-color: #000;
    color: #fff;
}

.mainLink{
    text-decoration: none;
}